<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ClimateImpact</title>
    <meta name="description" content="An example demonstrating Google Map integration with MEAN Apps">
    <meta name="viewport" content="initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css"/>    
    <link rel="stylesheet" href="css/simple-sidebar.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/home.css">

    <!-- Holder JS -->
    <link rel="stylesheet" href="../../bower_components/holderjs/holder.js">
    
    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQc9piEb4u51sVq5eLu8UrSQUpbUVx4xk"></script>
    
    <!-- Modernizr -->
    <script src="../../bower_components/modernizr/bin/modernizr"></script>
    
    <!-- JS Source -->
    <script src="../../bower_components/jquery/jquery.min.js"></script>
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components/angular-route/angular-route.js"></script>
    <script src="../../bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
        
</head>
<body>
    <div id="wrapper">
        
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#"><h2>Climate<span>Impact</span></h2></a>
                </li>
                <li>
                    <a href="#">My Account</a>
                </li>
                <li>
                    <a href="#">Calculate Your Footprint</a>
                </li>
                <li>
                    <a href="#">Action Items</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
        <!-- #sidebar-wrapper -->
        
        <!-- Page content -->
        <div id="page-content-wrapper">
            
        </div>
        <!-- #page-content-wrapper -->
        
    </div>
    <!-- #wrapper -->    
        
    </div>
</body>
</html>