<md-toolbar md-whiteframe="4" class="md-primary">
    <div class="md-toolbar-tools">
        <md-button class="md-accent" ng-click="toggleSide()">
            <md-icon md-svg-icon="navigation:menu"></md-icon>
        </md-button>
        <span flex></span>
        <span class="md-headline">Climate<span class="green_accent">Impact</span></span>
        <span flex></span>
        <div layout="row" layout-align="end-center">
            <md-menu md-offset="0 -7">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-icon="navigation:more_vert"></md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button class="md-accent" href="/signup">
                            Sign Up
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="md-accent" href="/signin">
                            Log In
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>

<!-- Left Side Nav -->
<md-sidenav ng-click="toggleSide()"
            md-whiteframe="4"
            md-component-id="left"
            md-is-locked-open="false"
            layout-align="space-between"
            layout="column">

    <md-toolbar class="md-tall md-toolbar-tools" layout="column" layout-align="end">
        <span flex></span>
        <h3 class="md-title">John Doe</h3>
        <h4 class="md-subhead">mail@example.com</h4>
    </md-toolbar>


    <!--<md-content layout-padding>-->
    <!--<img src="img/logo-sm.png" class="face" alt="you" height="100" width="100">-->
    <!--<p class="md-subhead">My Account</p>-->
    <!--</md-content>-->
    <!--<md-divider></md-divider>-->
    <span flex="5"></span>
    <md-list>
        <md-list-item>
            <md-button href="/app/home/" class="menu_btn md-accent">Home</md-button>
        </md-list-item>
        <md-list-item>
            <md-button href="/app/account/" class="menu_btn md-accent">My Account</md-button>
        </md-list-item>
        <md-list-item>
            <md-button href="/app/map/" class="menu_btn md-accent">Environmental Map</md-button>
        </md-list-item>
        <md-list-item>
            <md-button href="/app/calculate/" class="menu_btn md-accent">Calculate Impact</md-button>
        </md-list-item>
        <md-list-item>
            <md-button href="/app/action_items/" class="menu_btn md-accent">Action Items</md-button>
        </md-list-item>
        <md-list-item>
            <md-button href="/app/resources/" class="menu_btn md-accent">Resources</md-button>
        </md-list-item>
    </md-list>
    <span flex></span>
    <div layout="row" layout-align="start">
        <md-button href="/app/about/" class="menu_btn md-accent">About</md-button>
    </div>

</md-sidenav>
