<!-- TOOLBAR -->
<md-toolbar md-whiteframe="4"">
    <div class="md-toolbar-tools">
        <md-button class="md-accent" ng-click="toggleSide()">
            <md-icon>menu</md-icon>
        </md-button>
        <h3>ClimateImpact</h3>
        <span flex></span>
        <div layout="row" layout-align="end-center">
            <md-menu md-offset="0 -7">
                <md-button aria-label="Open demo menu" class="md-icon-button md-accent" ng-click="$mdOpenMenu($event)">
                    <md-icon>more_vert</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button class="md-accent" href="/signin">
                            Sign Up
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="md-accent" href="/signup">
                            Log In
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>

<!-- Content Wrapper -->
<div layout="row" flex>
    <!-- Left Side Nav -->
    <md-sidenav ng-click="toggleSide()"
                md-whiteframe="4"
                md-component-id="left"
                md-is-locked-open="false"
                layout="column">
        <md-content layout-padding>
            <img src="img/logo-sm.png" class="face" alt="you" height="100" width="100">
            <p class="md-subhead">My Account</p>
        </md-content>

        <md-divider></md-divider>

        <md-list>
            <md-list-item>
                <md-button class="menu_btn md-accent">Action Items</md-button>
            </md-list-item>
            <md-list-item>
                <md-button class="menu_btn md-accent">Home Improvement</md-button>
            </md-list-item>
            <md-list-item>
                <md-button class="menu_btn md-accent">Calculate Impact</md-button>
            </md-list-item>

            <md-list-item>
                <md-button class="menu_btn md-accent">Find Friends</md-button>
            </md-list-item>
        </md-list>
        <span flex></span>
        <div layout="row" layout-align="start">
            <md-button class="menu_btn md-accent">About</md-button>
        </div>

    </md-sidenav>

    <!-- Main Content -->
    <md-content layout="row" flex layout-padding>

    </md-content>
</div>
