#page-content-wrapper {
    padding: 0;
}

.header {
    margin-bottom: 30px;
}

.panel-default > .panel-heading {
    color: #fff;
    background-color: #626D4D;
    border-color: #ddd;
}

@media(min-width:768px) {
    #page-content-wrapper {
        padding: 0;
        position: relative;
    }
}